<header class="site-header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="/">
                    <span class="logo-icon">⚡</span>
                    <span class="logo-text">{{siteName}}</span>
                </a>
            </div>
            <nav class="main-nav">
                <a href="/" class="nav-link">Home</a>
                {{#each pages}}
                    {{#if path}}
                        <a href="/{{path}}" class="nav-link">{{title}}</a>
                    {{/if}}
                {{/each}}
                <a href="https://github.com/ptmt/statik" class="nav-link" target="_blank">
                    <span>GitHub</span>
                    <span class="external-icon">↗</span>
                </a>
            </nav>
        </div>
    </div>
</header>
