<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                <p>{{siteName}} - {{description}}</p>
                <p>Built using Statik</p>
            </div>
            <div class="footer-links">
                <a href="https://github.com/ptmt/statik" target="_blank">Source Code</a>
                <span class="separator">•</span>
                <a href="https://github.com/ptmt/statik/issues" target="_blank">Issues</a>
                <span class="separator">•</span>
                <a href="{{baseUrl}}getting-started">Documentation</a>
            </div>
        </div>
    </div>
</footer>